body {
  margin: 0;
  padding: 0;
  background: #f0f4f8;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  padding-top: 100px;
  text-align: center;
}

.seccion-ajustada {
  scroll-margin-top: 100px; 
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #2c3e50;
}
